In [1]:
%pylab

Using matplotlib backend: Qt4Agg
Populating the interactive namespace from numpy and matplotlib

In [2]:
from pandas import DataFrame, Series

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
import matplotlib.pyplot as plt

In [6]:
obj = Series([4, 7, -5, 3])

In [7]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [8]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [9]:
obj.keys

<bound method Series.keys of 0    4
1    7
2   -5
3    3
dtype: int64>

In [11]:
obj2 = Series([1, 4, 6, -9], index=['a', 'f', 'l', 'o'])

In [12]:
obj2

a    1
f    4
l    6
o   -9
dtype: int64

In [13]:
obj2.values

array([ 1,  4,  6, -9], dtype=int64)

In [16]:
obj2.keys

<bound method Series.keys of a    1
f    4
l    6
o   -9
dtype: int64>

In [17]:
obj2.index

Index([u'a', u'f', u'l', u'o'], dtype='object')

In [18]:
obj2['o']

-9

In [20]:
obj2[['l', 'a', 'f']]

l    6
a    1
f    4
dtype: int64

In [21]:
obj2[obj2 > 0]

a    1
f    4
l    6
dtype: int64

obj2 * 2

In [22]:
obj2 * 2

a     2
f     8
l    12
o   -18
dtype: int64

In [23]:
'o' in obj2

True

In [24]:
'e' in obj2

False

In [25]:
1 in obj2

False

In [26]:
sdatar = {'p': 'l', 0: 8, 7: 'q', 'u': 'er'}

In [27]:
sdatar

{0: 8, 7: 'q', 'p': 'l', 'u': 'er'}

In [28]:
obj3 = Series(sdatar)

In [29]:
obj3

0     8
7     q
p     l
u    er
dtype: object

In [30]:
obj3.index = [2, 3, 1, 8]

In [31]:
obj3

2     8
3     q
1     l
8    er
dtype: object

In [32]:
obj3.index[3]=2

TypeError: Index does not support mutable operations

In [64]:
datta = {'prodid': [123, 789, 1012], 'produit': ['coq au vin', 'boeuf bourguignon', 'cuisse de grenouille'], 'prix': [10.99, 11.50, 6.99]}

In [65]:
datta

{'prix': [10.99, 11.5, 6.99],
 'prodid': [123, 789, 1012],
 'produit': ['coq au vin', 'boeuf bourguignon', 'cuisse de grenouille']}

In [68]:
menuf = DataFrame(datta, columns = ['prodid', 'produit', 'prix'], index=['un', 'deux', 'trois'])

In [69]:
menuf

       prodid               produit   prix
un        123            coq au vin  10.99
deux      789     boeuf bourguignon  11.50
trois    1012  cuisse de grenouille   6.99

In [76]:
menuf[['produit', 'prix']]

                    produit   prix
un               coq au vin  10.99
deux      boeuf bourguignon  11.50
trois  cuisse de grenouille   6.99

In [73]:
menuf.ix['un']

prodid            123
produit    coq au vin
prix            10.99
Name: un, dtype: object

In [89]:
menuf[menuf['prix']<7]

       prodid               produit  prix
trois    1012  cuisse de grenouille  6.99

In [88]:
menuf.reindex(index]

   prodid produit  prix
1     NaN     NaN   NaN
2     NaN     NaN   NaN
3     NaN     NaN   NaN
4     NaN     NaN   NaN